/*parent flexbox - whole page*/
.parent {
    display: flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:center;    
    padding-left: 10px;
    padding-right: 10px;
}

.qBox {
    display: flex; 
    flex-direction: column;
}

.prompt {
    font-size: 20px;
    color: white;
}

.radio  {
    background: white;
    
  }

.question {
    /*text*/
    color: white; 
    font-family: "tahoma";
    letter-spacing: 2px;    

    /*padding*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;

    /*placement
    width: fit-content;
    margin-left: auto;
    margin-right: auto;*/
      
    /*background*/
    background-color: #0A014F;
    border: 1px solid #0A014F;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;   

    /*flexbox*/
    width: calc(100vw - 20px);
}

.choices {
    /*text*/
    color: black; 
    font-family: "tahoma";
    letter-spacing: 2px; 
    
    /*padding*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;

    /*placement
    width: fit-content;
    margin-left: auto;
    margin-right: auto;*/  
    
    /*background*/
    background-color: #F1FEC6;
    border: 1px solid #F1FEC6;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 

    /*flexbox*/
    flex-wrap: wrap;
    width:100%; 
    justify-content:center;    
    
}

