<ion-header>
  <ion-toolbar>
    <ion-title>MedScrab</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="contentArea" >  
<div class="parent">
<div class="quiztitle" align="center">        
    <ion-button class="" fill="" color="black">
      SERTALINE
    </ion-button>
  </div>


  <div class="qBox">

  <div class="question">  
    <ion-text class="prompt">Can you drink while taking Sertaline?</ion-text>
  </div>

  <div class="choices" align="left">
          <ion-radio-group>
              <ion-item lines="none" color="transparent">
                  <ion-label>Yes</ion-label>
              <ion-radio mode="md" slot="start" value="Yes" class="radio"></ion-radio>
            </ion-item>
            <ion-item lines="none" color="transparent">
                <ion-label>No</ion-label>
              <ion-radio mode="md" slot="start" value="No" class="radio"></ion-radio>
            </ion-item>
            <ion-item lines="none" color="transparent">
                <ion-label>Not Applicable</ion-label>
              <ion-radio mode="md" slot="start" value="Not Applicable" class="radio"></ion-radio>
            </ion-item>
          </ion-radio-group>
        
  </div>

</div>
</div>
</ion-content>  
      