<!--ion-content class="myBackGround"-->
<ion-content class="contentArea" >    

  <div class="divheader">
    <ion-header>
      <ion-toolbar>
        <ion-text class="header">
          <ion-icon name="list"></ion-icon>
          <ion-title>MedScrab</ion-title>          
        </ion-text>
      </ion-toolbar>
    </ion-header>
  </div>

  <div class="parentitem">

    <div class="divlevel" align="center">        
      <ion-text class="levelnum">LEVEL 6</ion-text>
      <ion-text class="level">INDICATIONS</ion-text>
    </div>
    
    <div class="divinfo" align="center">
      <div class="info">
        <ion-text class="infoa">SERTALINE</ion-text> 
      </div>
      <div class="divwarning">
        <ion-text class="warninga">Warning: </ion-text>
        <ion-text class="warningb">Antidepressants increase the risk of suicidal thoughts and behaviors in pediatric and young adult patients.</ion-text>
      </div>
    </div>

    <div class="divhint" align="center">
      <ion-text class="hint">         
        <ion-icon class="hinta" name="bulb"></ion-icon> A feeling of sadness
        <br><ion-icon class="hinta" name="bulb"></ion-icon> A feeling of hopelessness        
      </ion-text>
    </div>

    <div class="divword" align="center">
      <div class="word">
        <ion-button class="worda" color="secondary" size="small"><font color="black">D</font></ion-button>
        <ion-button class="wordb" color="primary" size="small"><font color="black">E</font></ion-button>  
        <ion-button class="wordc" color="secondary" size="small"><font color="black">P</font></ion-button>
        <ion-button class="wordd" color="secondary" size="small"><font color="black">R</font></ion-button>
        <ion-button class="worde" color="primary" size="small"><font color="black">E</font></ion-button>
        <ion-button class="wordf" color="light" size="small"><font color="ffffff">_</font></ion-button>
        <ion-button class="wordg" color="primary" size="small"><font color="black">S</font></ion-button>
        <ion-button class="wordh" color="light" size="small"><font color="ffffff">_</font></ion-button>
        <ion-button class="wordi" color="light" size="small"><font color="ffffff">_</font></ion-button>
        <ion-button class="wordh" color="light" size="small"><font color="ffffff">_</font></ion-button>
      </div>
    </div>
    
    <div class="divletterbank" align="center">
      <div class="letterbank">
        <ion-button size="large" color="secondary" type="button" routerDirection="forward"><font color="black">N</font></ion-button>
        <ion-button size="large" color="light" type="button" routerDirection="forward" fill="solid"><font color="ffffff">S</font></ion-button>
        <ion-button size="large" color="light" type="button" routerDirection="forward" fill="solid"><font color="ffffff">D</font></ion-button>
        <ion-button size="large" color="secondary" type="button" routerDirection="forward" fill="solid"><font color="black">O</font></ion-button>
        <ion-button size="large" color="secondary" type="button" routerDirection="forward" fill="solid"><font color="black">I</font></ion-button>
        <ion-button size="large" color="light" type="button" routerDirection="forward"><font color="ffffff">R</font></ion-button>
        <ion-button size="large" color="secondary" type="button" routerDirection="forward"><font color="black">S</font></ion-button>
        </div>
    </div>
  </div>
</ion-content>


