<!--ion-content class="myBackGround"-->
<ion-content class="contentArea" >    

  <div class="divheader">
    <ion-header>
      <ion-toolbar>
        <ion-text class="header">
          <ion-icon name="list"></ion-icon>
        </ion-text>
      </ion-toolbar>
    </ion-header>
  </div>

  <div class="divlevel" align="center">        
    <ion-button class="level" fill="outline" color="black">
      Level 6: Indications
    </ion-button>
  </div>
  
  <div class="divinfo" align="center">
    <div class="info" align="left">
      <ion-text class="infob">SERTALINE</ion-text> 
    </div>
  </div>

  <div class="divwarning" align="center">
    <div class="warning">  
      <ion-text class="warninga">WARNING: </ion-text>
      <ion-text class="warningb">ANTIDEPRESSANTS INCREASE THE RISK OF SUICIDAL THOUGHTS AND BEHAVIORS IN PEDIATRIC AND YOUNG ADULT PATIENTS</ion-text>
    </div>
  </div>

  <div class="divhint" align="center">
    <ion-text class="hint">         
      <ion-icon class="hinta" name="bulb"></ion-icon> A FEELING OF SADNESS OR HOPELESSNESS
    </ion-text>
  </div>

  <div class="divword" align="center">
    <div class="word">
      <ion-button class="worda" color="secondary" size="small">D</ion-button>
      <ion-button class="wordb" color="primary" size="small">E</ion-button>  
      <ion-button class="wordc" color="secondary" size="small">P</ion-button>
      <ion-button class="wordd" color="secondary" size="small">R</ion-button>
      <ion-button class="worde" color="primary" size="small">E</ion-button>
      <ion-button class="wordf" color="light" size="small"><font color="ffffff">_</font></ion-button>
      <ion-button class="wordg" color="primary" size="small">S</ion-button>
      <ion-button class="wordh" color="light" size="small"><font color="ffffff">_</font></ion-button>
      <ion-button class="wordi" color="light" size="small"><font color="ffffff">_</font></ion-button>
      <ion-button class="wordh" color="light" size="small"><font color="ffffff">_</font></ion-button>
    </div>
  </div>
  
  <div class="divletterbank" align="center">
    <div class="letterbank">
      <ion-button size="large" color="secondary" type="button" routerDirection="forward">N</ion-button>
      <ion-button size="large" color="medium" type="button" routerDirection="forward" fill="solid"><font color="969696">S</font></ion-button>
      <ion-button size="large" color="medium" type="button" routerDirection="forward" fill="solid"><font color="969696">D</font></ion-button>
      <ion-button size="large" color="secondary" type="button" routerDirection="forward" fill="solid">O</ion-button>
      <ion-button size="large" color="secondary" type="button" routerDirection="forward" fill="solid"><font color="#50D0D0">I</font>I</ion-button>
      <ion-button size="large" color="medium" type="button" routerDirection="forward"><font color="969696">R</font></ion-button>
      <ion-button size="large" color="secondary" type="button" routerDirection="forward">S</ion-button>
      </div>
  </div>

</ion-content>


