.contentArea { 
    --background: white;
}

.divheader {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
}
.header {
    color: black;
    font-family: "tahoma";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px; 
}

.parent {
    /*parent flexbox - whole page*/
    display: flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:center;    
    padding-left: 10px;
    padding-right: 10px;
    align-content: stretch;
}

.divlevel {
    /*flexbox*/
    display: flex;
    flex-direction: column;    
    flex-wrap:wrap;

    /*padding*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
}

.levelnum {
     /*text*/
     color: #f99820;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: italic;
     font-size: 14px;
     font-weight: 800;
     letter-spacing: 2px;
}

.level {
    /*text*/
    color: #f99820;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
}

.divinfo {
    /*padding*/
    padding-top: 20px;
    padding-bottom: 10px;
}

.info {
     /*text*/
     color: white; 
     font-family: "tahoma";
     letter-spacing: 2px;  
     font-size: 22px;
     font-weight: bold;     
 
     /*padding*/
     padding-left: 10px;
     padding-right: 10px;
     padding-top:10px;
     padding-bottom:10px;
 
    /*background*/
     background-color: #0A014F;
     border: 1px solid #0A014F;
     border-top-right-radius: 10px; 
     border-top-left-radius: 10px;   
 
     /*flexbox*/
     width: calc(100vw - 20px); 
}

.divwarning {
    /*text*/
    color: black; 
    font-family: "tahoma";
    letter-spacing: 2px; 
    
    /*padding*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top:0px;
    padding-bottom:5px;

    /*background*/
    background-color: #F1FFE7;
    border: 1px solid #F1FFE7;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 

    /*flexbox*/
    flex-wrap: wrap;
    width: calc(100vw - 20px); 
    justify-content:center; 
}

.warninga {
    font-weight: normal; 
    font-size: 12px;            
}

.warningb {
    font-size: 12px;        
}

.divhint {
    /*flexbox*/
    flex-flow: column wrap;
    justify-content: center;
    
    /*padding*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top:20px;
    padding-bottom:20px;   
}
.hint {
    /*flexbox*/
    flex-flow: column wrap;
    justify-content: center;    

    /*text*/
    color: #0A014F;
    font-family: "tahoma";
    font-weight: bold;      
    font-size: 18px;
    letter-spacing: 2px;
}

.hinta {
    /*icon details*/
    color: #E49E09;  
    font-size: 20px;  
}

.divword {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:20px;
    padding-bottom:30px;  

     /*flexbox*/
     width: calc(100vw); 
}

.letterbank {   
  
      /*padding*/
      padding-left: 10px;
      padding-right: 10px;
      padding-top:10px;
      padding-bottom:10px;
  
     /*background*/
      background-color: #0A014F;
      border: 1px solid #09264a;
      border-radius: 10px; 
  
      /*flexbox*/
      width: calc(100vw - 20px); 
}


